.nav{
    background-color: aquamarine;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0px;
    position: sticky;
}

.nav a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  color: black;
}
.nav a:hover {
  text-decoration: underline;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  color: salmon;
}
.nav .active {
  text-decoration: underline;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  color: salmon;
}
